:root{--ifm-color-scheme:light;--ifm-dark-value:10%;--ifm-darker-value:15%;--ifm-darkest-value:30%;
    --ifm-light-value:15%;--ifm-lighter-value:30%;--ifm-lightest-value:50%;--ifm-contrast-background-value:90%;
    --ifm-contrast-foreground-value:70%;--ifm-contrast-background-dark-value:70%;
    --ifm-contrast-foreground-dark-value:90%;--ifm-color-primary:#3578e5;--ifm-color-secondary:#ebedf0;
    --ifm-color-success:#00a400;--ifm-color-info:#54c7ec;--ifm-color-warning:#ffba00;
    --ifm-color-danger:#fa383e;--ifm-color-primary-dark:#306cce;--ifm-color-primary-darker:#2d66c3;
    --ifm-color-primary-darkest:#2554a0;--ifm-color-primary-light:#538ce9;--ifm-color-primary-lighter:#72a1ed;
    --ifm-color-primary-lightest:#9abcf2;--ifm-color-primary-contrast-background:#ebf2fc;
    --ifm-color-primary-contrast-foreground:#102445;--ifm-color-secondary-dark:#d4d5d8;
    --ifm-color-secondary-darker:#c8c9cc;--ifm-color-secondary-darkest:#a4a6a8;
    --ifm-color-secondary-light:#eef0f2;--ifm-color-secondary-lighter:#f1f2f5;
    --ifm-color-secondary-lightest:#f5f6f8;--ifm-color-secondary-contrast-background:#fdfdfe;
    --ifm-color-secondary-contrast-foreground:#474748;--ifm-color-success-dark:#009400;
    --ifm-color-success-darker:#008b00;--ifm-color-success-darkest:#007300;
    --ifm-color-success-light:#26b226;--ifm-color-success-lighter:#4dbf4d;
    --ifm-color-success-lightest:#80d280;--ifm-color-success-contrast-background:#e6f6e6;
    --ifm-color-success-contrast-foreground:#003100;--ifm-color-info-dark:#4cb3d4;
    --ifm-color-info-darker:#47a9c9;--ifm-color-info-darkest:#3b8ba5;--ifm-color-info-light:#6ecfef;
    --ifm-color-info-lighter:#87d8f2;--ifm-color-info-lightest:#aae3f6;
    --ifm-color-info-contrast-background:#eef9fd;--ifm-color-info-contrast-foreground:#193c47;
    --ifm-color-warning-dark:#e6a700;--ifm-color-warning-darker:#d99e00;--ifm-color-warning-darkest:#b38200;
    --ifm-color-warning-light:#ffc426;--ifm-color-warning-lighter:#ffcf4d;
    --ifm-color-warning-lightest:#ffdd80;--ifm-color-warning-contrast-background:#fff8e6;
    --ifm-color-warning-contrast-foreground:#4d3800;--ifm-color-danger-dark:#e13238;
    --ifm-color-danger-darker:#d53035;--ifm-color-danger-darkest:#af272b;
    --ifm-color-danger-light:#fb565b;--ifm-color-danger-lighter:#fb7478;
    --ifm-color-danger-lightest:#fd9c9f;--ifm-color-danger-contrast-background:#ffebec;
    --ifm-color-danger-contrast-foreground:#4b1113;--ifm-color-white:#fff;--ifm-color-black:#000;
    --ifm-color-gray-0:var(--ifm-color-white);--ifm-color-gray-100:#f5f6f7;--ifm-color-gray-200:#ebedf0;
    --ifm-color-gray-300:#dadde1;--ifm-color-gray-400:#ccd0d5;--ifm-color-gray-500:#bec3c9;
    --ifm-color-gray-600:#8d949e;--ifm-color-gray-700:#606770;--ifm-color-gray-800:#444950;
    --ifm-color-gray-900:#1c1e21;--ifm-color-gray-1000:var(--ifm-color-black);--ifm-color-emphasis-0:var(--ifm-color-gray-0);
    --ifm-color-emphasis-100:var(--ifm-color-gray-100);--ifm-color-emphasis-200:var(--ifm-color-gray-200);
    --ifm-color-emphasis-300:var(--ifm-color-gray-300);--ifm-color-emphasis-400:var(--ifm-color-gray-400);
    --ifm-color-emphasis-600:var(--ifm-color-gray-600);--ifm-color-emphasis-700:var(--ifm-color-gray-700);
    --ifm-color-emphasis-800:var(--ifm-color-gray-800);--ifm-color-emphasis-900:var(--ifm-color-gray-900);
    --ifm-color-emphasis-1000:var(--ifm-color-gray-1000);--ifm-color-content:var(--ifm-color-emphasis-900);
    --ifm-color-content-inverse:var(--ifm-color-emphasis-0);--ifm-color-content-secondary:#525860;
    --ifm-background-color:transparent;--ifm-background-surface-color:var(--ifm-color-content-inverse);
    --ifm-global-border-width:1px;--ifm-global-radius:0.4rem;--ifm-hover-overlay:rgba(0,0,0,.05);
    --ifm-font-color-base:var(--ifm-color-content);--ifm-font-color-base-inverse:var(--ifm-color-content-inverse);
    --ifm-font-color-secondary:var(--ifm-color-content-secondary);
    --ifm-font-family-base:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --ifm-font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --ifm-font-size-base:100%;--ifm-font-weight-light:300;--ifm-font-weight-normal:400;
    --ifm-font-weight-semibold:500;--ifm-font-weight-bold:700;--ifm-font-weight-base:var(--ifm-font-weight-normal);
    --ifm-line-height-base:1.65;--ifm-global-spacing:1rem;--ifm-spacing-vertical:var(--ifm-global-spacing);
    --ifm-spacing-horizontal:var(--ifm-global-spacing);--ifm-transition-fast:200ms;--ifm-transition-slow:400ms;
    --ifm-transition-timing-default:cubic-bezier(0.08,0.52,0.52,1);--ifm-global-shadow-lw:0 1px 2px 0 rgba(0,0,0,.1);
    --ifm-global-shadow-md:0 5px 40px rgba(0,0,0,.2);--ifm-global-shadow-tl:0 12px 28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1);
    --ifm-z-index-dropdown:3;--ifm-z-index-fixed:4;--ifm-z-index-overlay:5;--ifm-container-width:1140px;
    --ifm-container-width-xl:1320px;--ifm-code-background:#f6f7f8;--ifm-code-border-radius:var(--ifm-global-radius);
    --ifm-code-font-size:90%;--ifm-code-padding-horizontal:0.1rem;--ifm-code-padding-vertical:0.1rem;
    --ifm-pre-background:var(--ifm-color-emphasis-100);--ifm-pre-border-radius:var(--ifm-code-border-radius);
    --ifm-pre-color:inherit;--ifm-pre-line-height:1.45;--ifm-pre-padding:1rem;--ifm-heading-color:inherit;
    --ifm-heading-margin-top:0;--ifm-heading-margin-bottom:var(--ifm-spacing-vertical);
    --ifm-heading-font-family:var(--ifm-font-family-base);--ifm-heading-font-weight:var(--ifm-font-weight-bold);
    --ifm-heading-line-height:1.25;--ifm-h1-font-size:2rem;--ifm-h2-font-size:1.5rem;--ifm-h3-font-size:1.25rem;
    --ifm-h4-font-size:1rem;--ifm-h5-font-size:0.875rem;--ifm-h6-font-size:0.85rem;--ifm-image-alignment-padding:1.25rem;
    --ifm-leading-desktop:1.25;--ifm-leading:calc(var(--ifm-leading-desktop)*1rem);--ifm-list-left-padding:2rem;
    --ifm-list-margin:1rem;--ifm-list-item-margin:0.25rem;--ifm-list-paragraph-margin:1rem;--ifm-table-cell-padding:0.75rem;
    --ifm-table-background:transparent;--ifm-table-stripe-background:var(--ifm-color-emphasis-100);
    --ifm-table-border-width:1px;--ifm-table-border-color:var(--ifm-color-emphasis-300);
    --ifm-table-head-background:inherit;--ifm-table-head-color:inherit;--ifm-table-head-font-weight:var(--ifm-font-weight-bold);
}
.row{display:flex;flex-direction:row;flex-wrap:wrap;margin:0 calc(var(--ifm-spacing-horizontal)*-1)}


@media screen and (min-width:966px) and (max-width:1300px) {
    .feature-layout_fJeL{padding:0 40px}
    .card_LAt6{flex:1 1 48%;max-width:48%}
    .features_invQ{padding:108px 43px 0}
}
@media (min-width:997px){
    :root{--docusaurus-announcement-bar-height:30px}
    .announcementBarClose_Cdxo,.announcementBarPlaceholder_hHe9{flex-basis:50px}
    .menuHtmlItem_pNo2{padding:var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal)}
    .sidebar_ihDF{display:flex;flex-direction:column;height:100%;max-height:100vh;padding-top:var(--ifm-navbar-height);position:-webkit-sticky;position:sticky;top:0;transition:opacity 50ms;width:var(--doc-sidebar-width)}
    .sidebarWithHideableNavbar_g1It{padding-top:0}
    .sidebarHidden_IzK8{height:0;opacity:0;overflow:hidden;visibility:hidden}
    .sidebarLogo_Olfy{align-items:center;color:inherit!important;display:flex!important;margin:0 var(--ifm-navbar-padding-horizontal);max-height:var(--ifm-navbar-height);min-height:var(--ifm-navbar-height);text-decoration:none!important}
    .sidebarLogo_Olfy img{height:2rem;margin-right:.5rem}
    .menu_lZfw{flex-grow:1;padding:.5rem}
    .menuWithAnnouncementBar_XWs0{margin-bottom:var(--docusaurus-announcement-bar-height)}
    .collapseSidebarButton_WNLA{background-color:var(--ifm-button-background-color);border:1px solid var(--ifm-toc-border-color);border-radius:0;bottom:0;display:block!important;height:40px;position:-webkit-sticky;position:sticky}
    .collapseSidebarButtonIcon_PIHs{margin-top:4px;transform:rotate(180deg)}
    .expandSidebarButtonIcon_CW5c,[dir=rtl] .collapseSidebarButtonIcon_PIHs{transform:rotate(0)}[data-theme=dark] .collapseSidebarButton_WNLA,[data-theme=dark] .collapsedDocSidebar_X4Sl:focus,[data-theme=dark] .collapsedDocSidebar_X4Sl:hover{background-color:var(--collapse-button-bg-color-dark)}
    .collapsedDocSidebar_X4Sl:focus,.collapsedDocSidebar_X4Sl:hover,[data-theme=dark] .collapseSidebarButton_WNLA:focus,[data-theme=dark] .collapseSidebarButton_WNLA:hover{background-color:var(--ifm-color-emphasis-200)}
    .lastUpdated_lrc3{text-align:right}.docMainContainer_cNrP{flex-grow:1;max-width:calc(100% - var(--doc-sidebar-width))}.docMainContainerEnhanced_GHa0{max-width:calc(100% - var(--doc-sidebar-hidden-width))}
    .docSidebarContainer_cBXt{border-right:1px solid var(--ifm-toc-border-color);-webkit-clip-path:inset(0);clip-path:inset(0);display:block;margin-top:calc(var(--ifm-navbar-height)*-1);transition:width var(--ifm-transition-fast) ease;width:var(--doc-sidebar-width);will-change:width}
    .docSidebarContainerHidden_PB7p{cursor:pointer;width:var(--doc-sidebar-hidden-width)}
    .collapsedDocSidebar_X4Sl{align-items:center;display:flex;height:100%;justify-content:center;max-height:100vh;position:-webkit-sticky;position:sticky;top:0;transition:background-color var(--ifm-transition-fast) ease}
    [dir=rtl] .expandSidebarButtonIcon_CW5c{transform:rotate(180deg)}
    .docItemWrapperEnhanced_L22R{max-width:calc(var(--ifm-container-width) + var(--doc-sidebar-width))!important}
    .docItemCol_F7PT{max-width:75%!important}
    .tocMobile_cfxp{display:none}
    .breadcrumbsItemLink_tNTB{--ifm-breadcrumb-size-multiplier:0.8}
}

@media (min-width:1440px){.container{max-width:var(--ifm-container-width-xl)}}

@media screen and (max-width:1240px){
    .videoWrap_obKO{width:62.5vw}
    .card_UbPL{height:284px;margin-bottom:16px;padding:33.5px 3.9vw;width:calc(50% - 16px)}
}

@media screen and (max-width:1100px){
    .card_fFkl{margin-top:20px;padding:3.5vw 2.3vw;position:static;width:100%}
    .desc_kVJP{margin-bottom:7.5px;margin-top:8px}
    .title_jyKp{font-size:26px}
    .icon_l51S{height:calc(100% - 7vw);width:calc(100% - 4.6vw)}
    .leftDot_YEVg,.rightDot_vNaK{display:none}
    .flowContainer_cshu{height:auto;overflow:visible}
}

@media screen and (max-width:1024px){.swiper_cDqY{margin-bottom:14px;margin-top:8px;width:100%}}

@media (max-width:996px){
    .row .col.col.col{--ifm-col-width:100%;flex-basis:var(--ifm-col-width);margin-left:0}
    .footer{--ifm-footer-padding-horizontal:0}
    .footer__link-separator,.navbar__item,.sidebar_xG7o,.tableOfContents_jvGt,.toggle_L0Pe{display:none}
    .footer__col{margin-bottom:calc(var(--ifm-spacing-vertical)*3)}
    .footer__link-item{display:block}
    .hero{padding-left:0;padding-right:0}
    .navbar>.container,.navbar>.container-fluid{padding:0}
    .navbar__toggle{display:inherit}
    .navbar__search-input{width:9rem}
    .pills--block,.tabs--block{flex-direction:column}
    .pills--block .pills__item:not(:first-child){margin-top:var(--ifm-pills-spacing)}
    .pills--block .pills__item:not(:last-child){margin-bottom:var(--ifm-pills-spacing)}
    .tabs--block .tabs__item:not(:first-child){margin-top:var(--ifm-tabs-spacing)}
    .tabs--block .tabs__item:not(:last-child){margin-bottom:var(--ifm-tabs-spacing)}
    .docItemContainer_aAhe{padding:0 .3rem}
}

@media screen and (max-width:966px){
    .card_LAt6,.nav-container-block .nav-card-item{max-width:none}
    .footer--dark{--ifm-footer-background-color:#212121}.title{font-size:3rem}
    .quickStart_xnoS,.seqNum_EWFy{display:none}
    .feature-layout_fJeL{display:flex;margin-top:41px;padding:0 21.5px}
    .card_LAt6{flex:none;height:70px;margin:0 0 12px;padding:0 31px;width:100%}
    .icon_MAwG{height:20px;width:20px}.features_invQ{padding:70px 21.5px 0}
    .card-list_AkDd{flex-direction:column;margin-left:0}
    .heroBanner_qdFl{align-items:center;background-image:url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/banner-mobile-bg.png);padding:2rem}
    .buttons_AeoN{align-items:center;flex-direction:column;justify-content:center;margin-top:30px;width:65%}
    .doc-btn_gVIP,.start_RUNT{width:100%}
    .doc-btn_gVIP{margin-left:0;margin-top:42px}
    .logo_Ukns{width:70vw}
    .title_GqtP{font-size:8vw}
    .singleImg_CCE4{max-width:100%}
}

@media screen and (max-width:860px){
    .card_BFaT{display:flex;flex-direction:column;width:100%}
    .right_pQJ8 .descWrap_W6Nt{margin-left:0}
    .descWrap_W6Nt,.videoWrap_obKO{max-width:100%;width:100%}
    .videoWrap_obKO{min-height:auto;min-width:auto}
    .seeDetails_p0QC{display:none}
    .title_W0N7{font-size:16px;margin-bottom:16px}
}

@media screen and (max-width:700px){
    .card_UbPL{height:34vw;margin-bottom:16px;padding:33.5px 3.9vw;width:calc(50% - 16px)}
    .swiperCard_DiNE.swiperCard_DiNE{height:53.2vw;margin-bottom:0;padding:33.5px 3.9vw;width:52vw}
    .title_lxKc{font-size:16px;margin-top:15px}
    .desc_qHAD{font-size:12px;margin-top:8px}
    .icon_wKjA{height:24px;width:24px}
    .titleWrap_U4TS{background-size:51.6vw 4.51vw}
    .title_FZ2r{font-size:4.96vw;padding-top:13.5px}
    .seqNum_EWFy{font-size:2.48vw}
    .swiper_cDqY{margin-bottom:14px;margin-top:8px;width:100%}
    .section-title_Sf97{font-size:4vw;margin-bottom:1rem;margin-top:1rem}
    .singleImg_CCE4{max-width:100%}
}

@media (max-width:576px){
    .navbar__search-input:not(:focus){width:2rem}
    .searchBar_C_mW .dropdownMenu_KVsh{max-width:calc(100vw - var(--ifm-navbar-padding-horizontal)*2);width:var(--search-local-modal-width-sm,340px)}
    .searchHintContainer_FJVj{display:none}
}

@media (hover:hover){
    .backToTopButton_AnHQ:hover{background-color:var(--ifm-color-emphasis-300)}
}

@media (pointer:fine){
    .thin-scrollbar{scrollbar-width:thin}
    .thin-scrollbar::-webkit-scrollbar{height:var(--ifm-scrollbar-size);width:var(--ifm-scrollbar-size)}
    .thin-scrollbar::-webkit-scrollbar-track{background:var(--ifm-scrollbar-track-background-color);border-radius:10px}
    .thin-scrollbar::-webkit-scrollbar-thumb{background:var(--ifm-scrollbar-thumb-background-color);border-radius:10px}
    .thin-scrollbar::-webkit-scrollbar-thumb:hover{background:var(--ifm-scrollbar-thumb-hover-background-color)}
}

@media print{
    .announcementBar_tSP0,.footer,.menu,.navbar,.pagination-nav,.table-of-contents{display:none}
    .tabs{page-break-inside:avoid}.codeBlockLines_avdw{white-space:pre-wrap}
}

#__docusaurus {
    display:flex;
    flex-direction:column;
    min-height:100%;
    background-color: black
}


.navbar-sidebar .clean-btn {
    color:hsla(0,0%,100%,.6)
} 

.clean-btn {
    background:none;
    border:none;
    color:inherit;
    cursor:pointer;
    font-family:
    inherit;padding:0
}

.skipToContent_xzcM { 
    background-color:#fff;
    color:#1c1e21;
    left:100%;
    padding:0.5rem 1rem;
    position:fixed;
    top:1rem;
    z-index:5;
    display: none;
}

.skipToContent_xzcM:focus {
    box-shadow:var(--ifm-global-shadow-md);
    left:1rem
}

.navbar--fixed-top {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:4
}

.navbar__inner {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%
}

.navbar__items{background-color:black}

.navbar__items {
    align-items:center;
    display:flex;
    flex:1;
    min-width:0
}

.navbar__items--center {
    flex:0 0 auto
}

.navbar__items--center .navbar__brand {
    margin:0
}

.navbar__items--center+.navbar__items--right {
    flex:1
}

.navbar__items--right {
    flex:0 0 auto;
    justify-content:flex-end
}

.navbar__items--right>:last-child {
    padding-right:0
}

.navbar__item {
    color : #fff;
    display:inline-block;
    padding:0.25rem 0.75rem;
}
.header-github-link{background:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;content:"";display:flex;height:24px;width:24px}
.toggleTrack_dk2J{background-color:#4d4d4d;border-radius:30px;height:24px;transition:.2s;width:50px}
.toggle_kAJb,html{-webkit-tap-highlight-color:transparent}
.toggle_kAJb{touch-action:pan-x}
.toggle_L0Pe{display:none}
.toggleDisabled_sbRx{cursor:not-allowed}
.toggle_kAJb:active:not(.toggleDisabled_sbRx) .toggleTrackThumb_urlX{box-shadow:0 0 5px 5px var(--ifm-color-primary)}
.toggleTrackCheck_eo2S,.toggleTrackX_DWL4{bottom:0;height:10px;margin:auto 0;top:0;position:absolute}
.toggleTrackCheck_eo2S{left:8px;opacity:0;transition:opacity .25s;width:14px}
.toggleChecked_J_BT .toggleTrackCheck_eo2S,.toggleTrackX_DWL4,[data-theme=dark] .toggle_kAJb .toggleTrackCheck_eo2S{opacity:1;transition:opacity .25s}
.toggleTrackX_DWL4{bottom:0;height:10px;margin:auto 0;top:0;position:absolute}
.toggleTrackCheck_eo2S{left:8px;opacity:0;transition:opacity .25s;width:14px}
.toggleChecked_J_BT .toggleTrackCheck_eo2S,.toggleTrackX_DWL4,[data-theme=dark] .toggle_kAJb .toggleTrackCheck_eo2S{opacity:1;transition:opacity .25s}
.toggleTrackX_DWL4{right:10px;width:10px}.toggleChecked_J_BT .toggleTrackX_DWL4,[data-theme=dark] .toggle_kAJb .toggleTrackX_DWL4{opacity:0}
.toggleTrackThumb_urlX{background-color:#fafafa;border:1px solid #4d4d4d;border-radius:50%;height:22px;left:1px;position:absolute;top:1px;transition:.25s;width:22px}
.toggleFocused_br31 .toggleTrackThumb_urlX,.toggle_kAJb:hover .toggleTrackThumb_urlX{box-shadow:0 0 2px 3px var(--ifm-color-primary)}
.toggleChecked_J_BT .toggleTrackThumb_urlX,[data-theme=dark] .toggle_kAJb .toggleTrackThumb_urlX{left:27px}.toggle_kAJb:active:not(.toggleDisabled_sbRx) .toggleTrackThumb_urlX{box-shadow:0 0 5px 5px var(--ifm-color-primary)}
.toggleScreenReader_F9mL{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;position:absolute;width:1px}
.toggleIcon_IZdY{align-items:center;display:flex;height:10px;justify-content:center;width:10px}

.navbar__search-input{-webkit-appearance:none;appearance:none;background:var(--ifm-navbar-search-input-background-color) var(--ifm-navbar-search-input-icon) no-repeat .75rem center/1rem 1rem;color:var(--ifm-navbar-search-input-color);cursor:text;display:inline-block;font-size:.9rem;height:2rem;padding:0 .5rem 0 2.25rem;width:12.5rem}
.navbar__search-input:-ms-input-placeholder{color:var(--ifm-navbar-search-input-placeholder-color)}
.navbar__search-input::placeholder{color:var(--ifm-navbar-search-input-placeholder-color)}
.navbar__search-input{border:1px solid rgba(0,0,0,.2);border-radius:4px;outline:0}
.navbar__search-input:-ms-input-placeholder{color:hsla(0,0%,100%,.6)}
.navbar__search-input{background-image:none}
.navbar__search-input{width:9rem}
.navbar__search-input::placeholder{color:hsla(0,0%,100%,.6)}
.navbar-sidebar{background-color:var(--ifm-navbar-background-color);box-shadow:var(--ifm-global-shadow-md);transform:translate3d(-100%,0,0);transition-duration:.25s;transition-property:opacity,visibility,transform;width:var(--ifm-navbar-sidebar-width)}
.searchBarContainer_roih{margin-left:16px}
.searchBarContainer_roih .searchBarLoadingRing_M2DY{display:none;left:10px;position:absolute;top:6px}
.searchHintContainer_FJVj{align-items:center;display:flex;gap:4px;height:100%;justify-content:center;pointer-events:none;position:absolute;right:10px;top:0}
.searchHint_n6p6{background-color:var(--ifm-navbar-background-color);border:1px solid var(--ifm-color-emphasis-500);box-shadow:inset 0 -1px 0 var(--ifm-color-emphasis-500);color:var(--ifm-navbar-search-input-placeholder-color)}

.navTabs_iZ7k{background-color:#000;border-bottom:1px solid var(--home-border-color);border-top:1px solid var(--home-border-color);display:flex;flex-wrap:nowrap;justify-content:center;width:100%}
.swiper-wrapper{box-sizing:content-box;display:flex;z-index:1}
.swiper-wrapper{align-items:flex-start;transition-property:transform,height}
.swiper-slide,.swiper-wrapper{height:100%;position:relative;transition-property:transform;width:100%}
.tab_He0c,.title_IelT{font-size:18px;font-weight:400}
.tab_He0c{display:flex;flex-wrap:nowrap;justify-content:center;line-height:56px}
.tab_He0c a{background:#000;color:#fff;display:inline-block;opacity:.95;text-align:center;transition:3s;width:100%}
.tab_He0c a:hover{background:linear-gradient(0deg,rgba(46,232,246,.3),rgba(0,238,255,0));color:#fff;cursor:pointer;opacity:1;transition:3s}

.hero {
    align-items: center;
    background-color: #fff;
    color: var(--ifm-hero-text-color);
    display: flex;
    padding: 4rem 2rem;
}

.hero--primary {
    --ifm-hero-background-color: var(--ifm-color-primary);
    --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
}
.heroBanner_qdFl {
    align-items: flex-start;
    background-color: #000;
    background-image: url(https://lf3-static.bytednsdoc.com/obj/eden-cn/aphqeh7uhohpquloj/modern-js/bg.png);
    background-origin: border-box;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 691px;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 18%;
    position: relative;
}

.title_GqtP {
    color: #fff;
    font-family: Noto Sans SC;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 21px;
}
.buttons_AeoN {
    display: flex;
    justify-content: center;
    margin-top: 87px;
}

.start_RUNT {
    background: linear-gradient(274.85deg,#4ecaff 3%,#64cfde 97.17%);
    border-radius: 39px;
    box-shadow: 0 1px 39px rgb(133 250 202 / 34%);
    display: flex;
    height: 48px;
    justify-content: center;
    line-height: 48px;
    opacity: .8;
    width: 147px;
}
.start_RUNT, .start_RUNT:hover {
    color: #000;
    transition: opacity .3s;
}
.card_LAt6, .start_RUNT {
    align-items: center;
    cursor: pointer;
}

.doc-btn_gVIP{
    align-items: center;
    background: hsla(0,0%,100%,.07);
    border: 1px solid #4ecaff;
    border-radius: 3rem;
    box-sizing: border-box;
    color: #00b3ff;
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-left: 2rem;
    transition: .3s;
    width: 9rem;
    text-decoration: none;
}

.footer_container{display:flex; flex-wrap: wrap; justify-content: center;}
.footer{background-color:var(--ifm-footer-background-color);color:var(--ifm-footer-color);padding:var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal)}
.footer--dark{--ifm-footer-background-color:#303846;--ifm-footer-color:var(--ifm-footer-link-color);--ifm-footer-link-color:var(--ifm-color-secondary);--ifm-footer-title-color:var(--ifm-color-white);--ifm-footer-background-color:#000;--ifm-footer-link-color:#c9cdd4}
.footer__links{margin-bottom:1rem}
.footer__link-item{color:var(--ifm-footer-link-color);line-height:2}
.footer__link-item:hover{color:var(--ifm-footer-link-hover-color)}
.footer__link-separator{margin:0 var(--ifm-footer-link-horizontal-spacing)}
.footer__logo{margin-top:1rem}
.footer__title{color:var(--ifm-footer-title-color);font:700 var(--ifm-h4-font-size)/var(--ifm-heading-line-height) var(--ifm-font-family-base);margin-bottom:var(--ifm-heading-margin-bottom)}
.menu,.navbar__link{font-weight:var(--ifm-font-weight-semibold)}
.footer__item{margin-top:0}
.footer__items{list-style:none;margin-bottom:0;padding-left:0}
.footer__col{margin-bottom:calc(var(--ifm-spacing-vertical)*3); width: 300px;}
.footer__title{color:#c9cdd4}
.footer__link-item{font-size:14px;opacity:90%}
.footer__logo{max-width:218px;width:218px}